<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    <h1>
        Articles
    </h1>
    <ul>
        <% for(let i = 0; i < articles.length; i++) { %>
            <li>
                <a href="./articles/<%= articles[i].id %>"">
                    <h3>
                        <%= articles[i].title %>
                    </h3>
                    <p>
                        <%= articles[i].preview %>
                    </p>
                </a>
            </li>
        <% } %>
    </ul>
    <%- include("../layouts/footer.ejs") %>
</body>
</html>