.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border: 1px solid red;
}

@media screen and (max-width: 500px) {
    .nav li{
        display: block;
        padding: 0px;
    }

    h1 {
        display: none;
    }
}