ol.romano {
    list-style-type: lower-roman;
  }
  
  ul.quad {
    list-style-type: circle;
  }
  
  ul.img {
    list-style-image: url(https://assets.codepen.io/t-1/user-default-avatar.jpg?fit=crop&format=auto&height=10&version=0&width=10);
  }
  
  ul.menu {
    list-style-type: none;
    padding: 0;
  }
  
  ul.menu li {
    display: block;
    float: left;
    padding: 5px 10px;
  }
  ul.menu li a {
    text-decoration: none;
  }
  ul.menu li:hover {
    background-color: cyan;
  }
  ul.menu li:hover a {
    text-decoration: underline;
  }