table {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 3px 15px;
    background-color: #FFFFAA;
    border-bottom: 2px solid #CCCCAA;
  }
  
  td {
    margin: 0;
    padding: 3px 15px;
    border-bottom: 1px solid gray;
  }
  
  th { margin: 0; }
  
  tr:hover {background-color: #EEFFFF;}
  
  