:root {
    --color-primary: #fdcc04;
    --color-secundary: #222;
    --color-neutral: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    padding: 10px;
}

nav {
    height: 80px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 15vw;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

h2 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--color-secundary);
    padding: 0 1.5rem;
}

nav a:hover {
    color: var(--color-neutral);
    transition: 0.3s;
}

form section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary);
    color: var(--color-neutral);
    padding: 8vh 30vw;
}

input, select, textarea {
    width: 40vw;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
}

fieldset {
    /* border: none; */
    display: inline-block;
    justify-content: center;
    align-items: center;
}

form fieldset label {
    margin: 10px;
    display: flex;
    
    /* justify-content: center;
    justify-items: center;
    align-items: center; */
}

select[name="movie-pref"] {
    align-content: center;
    width: 50%;
    margin: auto;
}

input[type="submit"] {
    margin-top: 30px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: var(--color-secundary);
    background: var(--color-primary);
    cursor: pointer;
    border-radius: 50px;
}

input[type="submit"]:hover {
    background: var(--color-neutral);
    transition: 0.3s;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem 15rem;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-secundary);
    padding: 0rem 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color-secundary);
    padding: 0rem 2rem;
}

.column-left h1 {
    margin: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-right img {
    width: 80%;
}


#CTA-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: var(--color-primary);
    background-color: var(--color-secundary);
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#CTA-button:hover {
    background-color: var(--color-neutral);
    color: var(--color-secundary);
    transition: 0.3s;
}

#home {
    background-color: var(--color-neutral);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    font-size: 1.5rem;
    padding: 2% 10%;
}

#about h5 {
    text-align: center;
    font-size: 2rem;
}

#about ul {
    list-style-type: circle;
}

#about ul li::first-letter {
    text-transform: capitalize;
}

#about a {
    text-decoration: none;
    color: var(--color-secundary);
}

#about a:hover {
    color: var(--color-neutral);
    transition: 0.3s;
}