div * {
    border: 1px solid black;
}

span {
    font-size: 30px;
    font-weight: bold;
}

p, h1 {
    background-color: aquamarine;
}

a, span {
    background-color: antiquewhite;
}

#line-in-block span {
    font-size: inherit;
}