p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: -3em;
    padding-left: 4em;
    letter-spacing: 1px;
    word-spacing: 1em;
  }
  
  p > span {
    font-size: 1.7em;
    color: red;
    vertical-align: sub;
    text-decoration-line: underline overline; 
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
  }
  
  p.special {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: " (continua...)";
    background: pink;
    margin-bottom: 20px;
  }